[submodule "vendor/ocurrent"]
	path = vendor/ocurrent
	url = https://github.com/patricoferris/ocurrent
[submodule "vendor/obuilder"]
	path = vendor/obuilder
	url = https://github.com/patricoferris/obuilder
[submodule "vendor/jsoo-xterm"]
	path = vendor/jsoo-xterm
	url = https://github.com/patricoferris/jsoo-xterm
[submodule "vendor/hoke"]
	path = vendor/hoke
	url = https://github.com/patricoferris/hoke
